.center {
  display: inline-block;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
h1 {
  text-align: center;
}
output {
  display: inline;
}

#output {
  color: rgb(240, 134, 14);
  font-size: x-large;
  text-align: center;
  padding-top: 5%;
}
button {
  display: inline-block;
  padding: 15px 30px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  border-radius: 10px;
}
button:hover {
  background-color: goldenrod;
  color: white;
}
